body {
  padding-top: 80px;
}

#sidebar {
  position: fixed;
  top: 50px;
  left: 220px;
  width: 220px;
  margin-left: -220px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: #25383C;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.side-bar > li > a{
  color: #eee;
  width: 220px;
}

th {text-align:center}

.link > a {
  color: #eee;
  width: 220px;
  
}
.side-bar li a:hover,
.side-bar li a:focus {
  background-color: #333;
}

.tmargin {
  margin-top: 15px;
}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


 span.error{
    color: red;
    margin-left: 5px;
  }
  
  
canvas{
  
  width:1050px !important;
  height:500px !important;
}
.dropbtn {
  background-color: #58257b;
  color: white;
  /* font-weight: bold; */
  padding: 16px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* Dùng trong <div> để định vị nội dung thả xuống */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung thả xuống (Ẩn theo mặc định) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

 /*Liên kết bên trong danh sách thả xuống */ 
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*Thay đổi định dạng của liên kết thả xuống khi di chuột qua */
.dropdown-content a:hover {
  background-color: #58257b;
  color: white;
}

/*Hiển thị menu thả xuống khi di chuột */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Thay đổi màu nền của nút thả xuống khi nội dung được hiển thị*/
.dropdown:hover .dropbtn {
  background-color: #984eca;
}