@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 520px;
  padding: 6% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 520px;
  margin: 0 auto 100px;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding-bottom: 60px;
}

.form input[type="text"],
.form input[type="password"] {
  font-family: "arial", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 1px solid #ccc;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
}
#submit {
  font-family: "Times New Roman", Times, serif;
  outline: 0;
  color: #ffffff;
  -webkit-transition: all 0.25 ease;
  transition: all 0.25 ease;
  cursor: pointer;
}
.form .message,
#label {
  /*   margin: 15px 0 0; */
  color: #191717;
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.form .message a {
  color: #9b3651;
  text-decoration: none;
  text-align: center;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #ef3b3a;
}
body {
  /* background: #9fc9df; 
  background: -webkit-linear-gradient(right, #c750c5, #c750c5);
  background: -moz-linear-gradient(right, #c750c5, #c750c5);
  background: -o-linear-gradient(right, 	#FFA07A, #286090);
  background: linear-gradient(to left, 	#FFA07A, #286090); */
  background-image: url("https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/259644553_3142748476005484_5214817160023316839_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=ae9488&_nc_ohc=XsDjIoBc3AsAX8NsZbX&tn=SoA6gHrYSfnV0MvM&_nc_ht=scontent.fhan3-2.fna&oh=d5b40aaee5d410c7c22cab4790ea2436&oe=61C75F5E");
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*        position: relative;
    margin-top: 46px;
    padding-top: 50%;tỉ lệ gốc của bức ảnh 
    background: url('Frontend/img/slidegom1.jpg') top center / cover no-repeat;*/
}

.error {
  color: red;
}

.alert alert-danger {
  text-align: center;
}
.return-client {
  background: #9b3651;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  color: #fff;
  transition: 0.25s;
  border: 1px solid #9b3651;
}
.return-client:hover {
  background: #fff;
  color: #9b3651;
}
.login-register {
  text-align: center;
  display: flex;
  justify-content: center;
}
.dndk {
  padding: 15px 20px;
  border-radius: 50px;
  background: #9b3651;
  border: 1px solid #9b3651;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  transition: 0.25s;
  font-size: 20px;
  width: 180px;
  font-weight: bold;
  margin: 10px 5px;
  margin-top: 25px;
}
.dk {
  color: #9b3651;
  background: #fff;
}
.dn:hover {
  color: #9b3651 !important;
  background: #fff;
}
.dk:hover {
  color: #fff;
  background: #9b3651;
  text-decoration: none;
}
.dktk {
  background: #9b3651;
  border: 1px solid #9b3651;
  border-radius: 50px;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  width: 100%;
  transition: 0.25s;
  font-weight: bold;
  margin-top: 15px;
}
.dktk:hover {
  color: #9b3651 !important;
  background: #fff;
}
.form-dk {
  padding: 30px 45px;
  margin-top: 10px;
}
.dn2 {
  transition: 0.25s;
}
.dn2:hover {
  color: #e3003c !important;
}
